*.iml
.gradle/
/mars/local.properties
.idea/
.DS_Store
build/
/mars/captures
obj/

*.swp
*.pyc
xcuserdata
xcshareddata

/mars/comm/verinfo.h
/mars/libraries/*/
/mars/*/libs/
!/mars/boost/libs/
/samples/iOS/iOSDemo/Kernel/MarsLib/
/samples/iOS/iOSDemoXlog/Kernel/MarsLib/
/samples/iOS/XloggerSwiftDemo/Kernel/MarsLib/
/samples/Mac/Kernel/MarsLib/
/samples/android/xlogSample/app/src/main/jni/export_include/*.so

#!/mars/libraries/mars_android_sdk/
/mars/app/win32proj/Debug/*.idb
/mars/app/win32proj/Debug/*.log
/mars/app/win32proj/Debug/*.pdb
/mars/app/win32proj/Debug/app.tlog/*.tlog
/mars/app/win32proj/Debug/app.tlog/*.lastbuildstate
/mars/app/win32proj/Debug/*.obj
/mars/baseevent/win32proj/Debug/*.idb
/mars/baseevent/win32proj/Debug/*.log
/mars/baseevent/win32proj/Debug/*.pdb
/mars/baseevent/win32proj/Debug/baseevent.tlog/*.tlog
/mars/baseevent/win32proj/Debug/baseevent.tlog/*.lastbuildstate
/mars/baseevent/win32proj/Debug/baseevent.tlog/*
/mars/baseevent/win32proj/Debug/*.obj
/mars/boost/Debug/*.log
/mars/boost/Debug/boost.tlog/*.tlog
/mars/boost/Debug/boost.tlog/*.lastbuildstate
/mars/boost/Debug/boost.tlog/*
/mars/boost/Debug/*.obj
/mars/boost/Debug/*.idb
/mars/boost/Debug/*.pdb
/mars/comm/win32proj/Debug/*.obj
/mars/comm/win32proj/Debug/*.idb
/mars/comm/win32proj/Debug/*.log
/mars/comm/win32proj/Debug/*.pdb
/mars/comm/win32proj/Debug/comm.tlog/*.tlog
/mars/comm/win32proj/Debug/comm.tlog/*.lastbuildstate
/mars/comm/win32proj/Debug/comm.tlog/*
/mars/log/win32proj/Debug/*.obj
/mars/log/win32proj/Debug/*.idb
/mars/log/win32proj/Debug/*.log
/mars/log/win32proj/Debug/*.pdb
/mars/log/win32proj/Debug/log.tlog/*.tlog
/mars/log/win32proj/Debug/log.tlog/*.lastbuildstate
/mars/log/win32proj/Debug/log.tlog/*
/samples/win32test/Debug/*.obj
/samples/win32test/Debug/*.idb
/samples/win32test/Debug/*.pdb
/samples/win32test/Debug/*.log
/samples/win32test/Debug/*.pch
/samples/win32test/Debug/win32test.tlog/*.tlog
/samples/win32test/Debug/win32test.tlog/*
/samples/win32test/Debug/win32test.tlog/*.lastbuildstate
/mars/sdt/win32proj/Debug/*.idb
/mars/sdt/win32proj/Debug/*.log
/mars/sdt/win32proj/Debug/*.pdb
/mars/sdt/win32proj/Debug/sdt.tlog/*.tlog
/mars/sdt/win32proj/Debug/sdt.tlog/*.lastbuildstate
/mars/sdt/win32proj/Debug/sdt.tlog/*
/mars/stn/win32proj/Debug/*.obj
/mars/stn/win32proj/Debug/*.idb
/mars/stn/win32proj/Debug/*.log
/mars/stn/win32proj/Debug/*.pdb
/mars/stn/win32proj/Debug/stn.tlog/*.tlog
/mars/stn/win32proj/Debug/stn.tlog/*.lastbuildstate
/mars/stn/win32proj/Debug/stn.tlog/*
/mars/win32proj/.vs/v14/*.suo
/mars/win32proj/Debug/*.lib
/mars/win32proj/Debug/*.log
/mars/win32proj/Debug/mars.tlog/*.lastbuildstate
/mars/win32proj/Debug/mars.tlog/*
/mars/win32proj/*.opendb
/mars/win32proj/*.db
/mars/samples/android/marsSampleChat/local.properties
.autotools
.cproject
.project
*.lib
*.pdb
mars/win32proj/Debug/mars.lastbuildstate
mars/win32proj/Debug/mars.unsuccessfulbuild
